<?xml version="1.0"?>
<launch>

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find moveit_braccio_real)/config/ros_controllers.yaml" command="load"/>

    <!-- Load Controllers -->
    <rosparam file="$(find braccio_manipulator)/config/joint_trajectory_controller.yaml" command="load"/>

    <!-- Load limits -->
    <rosparam file="$(find braccio_manipulator)/config/joint_limits.yaml" command="load"/>
    
    <node name="robot_hardware_interface" pkg="braccio_manipulator" type="braccio_hardware_interface_node" output="screen"/>

    <node 
        name="controller_spawner" 
        pkg="controller_manager" 
        type="spawner" 
        respawn="false" 
        output="screen"
        args="  /braccio_controllers/joint_state_controller
                /braccio_controllers/gripper_controller
                /braccio_controllers/arm_controller"
    />

</launch>
